/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/* Existing styles */
/* Base Styles */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Flexbox Layout */
.flex-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flex-box {
  width: 200px;
  height: auto;
  background: white; /* White background */
  color: black; /* Black text */
  font-size: 16px;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  margin: 10px;
  border: 2px solid #0039a6; /* Dark blue border */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flex-box b {
  font-size: 16px;
  margin-bottom: 5px;
}

.flex-box p {
  margin: 0;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  line-height: 1.2em;
}

/* Flatpickr Calendar Styles */
.flatpickr-calendar {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.flatpickr-month {
  background-color: #0039a6; /* Dark blue background for the month header */
  color: #fff; /* White text */
}

.flatpickr-day {
  background-color: #fff;
  color: #222;
}

.flatpickr-day:hover {
  background-color: #0039a6; /* Dark blue background on hover */
  color: #fff;
}

.flatpickr-day.selected {
  background-color: #00297a; /* Slightly darker blue for selected date */
  color: #fff;
}

.flatpickr-day.startRange,
.flatpickr-day.endRange {
  background-color: #00297a; /* Slightly darker blue for range start/end */
  color: #fff;
}

.flatpickr-day.inRange {
  background-color: #0039a6; /* Dark blue for dates within the selected range */
  color: #fff;
}

.flatpickr-calendar.inline {
  border-radius: 5px;
}

/* Tabs & Forms */
.tab-container {
  margin-bottom: 20px;
}

.tabs {
  list-style: none;
  padding: 0;
  display: flex;
  border-bottom: 2px solid #ccc;
}

.tab {
  margin-right: 20px;
}

.tab a {
  text-decoration: none;
  color: #000;
  padding: 10px 20px;
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
}

.tab.active a,
.tab a:hover {
  background-color: #0039a6; /* Dark blue background for active and hover states */
  color: #fff;
  border-color: #0039a6;
  border-bottom: 2px solid #fff;
}

.form-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 500px;
  margin: 0 auto;
}

.form_group {
  margin-bottom: 15px;
}

.form_group label {
  display: block;
  margin-bottom: 5px;
}

.form_group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

/* Button Styles */
button {
  background-color: #0039a6; /* Dark blue background for buttons */
  color: #fff; /* White text */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #00297a; /* Slightly darker blue on hover */
}

/* Navbar Styles */
.navbar {
  background-color: #0039a6; /* Dark blue background for navbar */
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  margin-right: auto;
}

.logo img {
  height: 40px;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}

.nav-list li {
  margin: 0;
}

.nav-list a {
  display: block;
  color: #fff; /* White text for navbar links */
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.nav-list a:hover {
  background-color: #00297a; /* Slightly darker blue on hover */
  color: #fff; /* White text on hover */
}
.sign-in a {
  display: block;
  color: #0039a6; /* Dark blue text color */
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  background-color: #fff; /* White background */
  border-radius: 4px;
  border: 2px solid #0039a6; /* Dark blue border */
}

.sign-in a:hover {
  background-color: #0039a6; /* Dark blue background on hover */
  color: #fff; /* White text on hover */
}


/* Modal Styles */
/* Modal styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
}

.modal-content {
  background-color: white;
  margin: 10% auto; /* 10% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 500px; /* Limit width on large screens */
  border-radius: 8px; /* Rounded corners */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

.modal h2 {
  margin-top: 0;
  color: #0039a6;
  font-size: 24px;
  text-align: center;
}

.modal form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal label {
  font-weight: bold;
  margin-bottom: 5px;
}

.modal input[type="text"],
.modal input[type="password"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: calc(100% - 22px);
}

.modal button {
  background-color: #0039a6;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.modal button:hover {
  background-color: #00247d;
}

.modal p {
  text-align: center;
}

.modal a {
  color: #0039a6;
  text-decoration: none;
}

.modal a:hover {
  text-decoration: underline;
}


/* Map Styles */
#map {
  height: 400px;
  width: 100%;
  border: 2px solid #0039a6; /* Dark blue border around the map */
}

/*
Check-in
 */
/* Top bar with website name */
.top-bar {
  background-color: #0039a6; /* Dark grey background */
  padding: 10px 0;        /* Vertical padding */
  text-align: left;     /* Center the text */
}

.site-name {
  color: #ffffff;         /* White text */
  font-size: 24px;        /* Font size for the website name */
  text-decoration: none;  /* Remove underline from link */
  font-weight: bold;      /* Bold text */
  padding-left: 20px;     /* Indent the text from the left */
  display: inline-block;  /* Keep the element inline and allow padding */
}


.site-name:hover {
  color: #ffcc00;         /* Change color on hover */
}

/* Check-in section with grey background */
/* Breadcrumb container */
.breadcrumb-container {
  background-color: #f8f8f8; /* Light grey background */
  padding: 10px 20px;       /* Padding for vertical spacing */
  border-bottom: 1px solid #ddd; /* Bottom border for separation */
}

.breadcrumb {
  margin: 0;
  padding: 0;
}

.breadcrumb ul {
  list-style: none;         /* Remove default list styling */
  margin: 0;
  padding: 0;
  display: flex;            /* Flexbox for horizontal layout */
  align-items: center;      /* Vertically center items */
}

.breadcrumb li {
  color: #666;              /* Light grey text */
  margin-right: 8px;        /* Space between items */
}

.breadcrumb a {
  color: #007bff;           /* Link color */
  text-decoration: none;    /* Remove underline */
}

.breadcrumb a:hover {
  text-decoration: underline; /* Underline on hover */
}

.breadcrumb span {
  color: #333;              /* Dark grey text for the current page */
}

/* Check-in container */
.check-in-container {
  background-color: #e0e0e0; /* Light grey background */
  padding: 40px 20px;        /* Padding for spacing */
  text-align: center;        /* Center the content */
}

.check-in-container h2 {
  font-size: 32px;           /* Font size for H2 */
  color: #333;               /* Dark grey text */
  margin: 0;                 /* Remove default margin */
}




/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

